interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.core.eopf.eodc.eu/
  response:
    body:
      string: '{"type":"Catalog","id":"eopf-sample-service-stac-api","title":"EOPF
        Sentinel Zarr Samples Service STAC API","description":"STAC catalog of the
        EOPF Sentinel Zarr Samples Service","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"data","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.core.eopf.eodc.eu/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://stac.core.eopf.eodc.eu/s[...]
[...]
- request:
    body: '{"datetime": "2026-03-01T00:00:00Z/2026-03-03T23:59:59Z", "collections":
      ["sentinel-3-olci-l1-efr"], "intersects": {"type": "Polygon", "coordinates":
      [[[5.0, 53.0], [10.0, 53.0], [10.0, 57.0], [5.0, 57.0], [5.0, 53.0]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.core.eopf.eodc.eu/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"next","type":"application/geo+json","method":"POST","href":"https://stac.core.eopf.eodc.eu/search","body":{"datetime":"2026-03-01T00:00:00Z/2026-03-03T23:59:59Z","collections":["sentinel-3-olci-l1-efr"],"intersects":{"type":"Polygon","coordinates":[[[5.0,53.0],[10.0,53.0],[10.0,57.0],[5.0,57.0],[5.0,53.0]]]},"token":"next:sentinel-3-olci-l1-efr:S3A_OL_1_EFR____20260301T104744_20260301T105044_20260302T115135_0179_136_322_1980_PS1_O_NT_004"}},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/search"}],"features":[{"id":"S3A_OL_1_EFR____20260303T095522_20260303T095822_20260303T115356_0179_136_350_1980_PS1_O_NR_004","bbox":[-2.70391,49.8879,22.8046,62.9134],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-3-olci-l1-efr"},{"rel":"parent","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-3-olci-l1-efr"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/geo+json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-3-olci-l1-efr/items/S3A_OL_1_EFR____20260303T095522_20260303T095822_20260303T115356_0179_136_350_1980_PS1_O_NR_004"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice","type":"application/pdf","title":"Legal
        notice on the use of Copernicus Sentinel Data and Service Information"}],"assets":{"product":{"href":"https://objects.eodc.eu:443/e05ab01a9d56408d82ac32d69a5aae2a:202603-s03olcefr-eu/03/products/cpm_v262/S3A_OL_1_EFR____20260303T095522_20260303T095822_20260303T115356_0179_136_350_1980_PS1_O_NR_004.zarr","type":"application/vnd+zarr","roles":["data","metadata"],"title":"EOPF
        Product","description":"The full Zarr store of the EOPF product","xarray:open_datatree_kwargs":{"chunks":{},"engine":"eopf-zarr","op_mode":"native"}},"radianceData":{"href":"https://objects.eodc.eu:443/e05ab01a9d56408d82ac32d69a5aae2a:202603-s03olcefr-eu/03/products/cpm_v262/S3A_OL_1_EFR____20260303T095522_20260303T095822_20260303T115356_0179_136_350_1980_PS1_O_NR_004.zarr/measurements","type":"application/vnd+zarr","bands":[{"name":"Oa01","eo:center_wavelength":400,"eo:full_width_half_max":15},{"name":"Oa02","eo:center_wavelength":412.5,"eo:full_width_half_max":10},{"name":"Oa03","eo:common_name":"coastal","eo:center_wavelength":442.5,"eo:full_width_half_max":10},{"name":"Oa04","eo:common_name":"blue","eo:center_wavelength":490,"eo:full_width_half_max":10},{"name":"Oa05","eo:common_name":"green05","eo:center_wavelength":510,"eo:full_width_half_max":10},{"name":"Oa06","eo:common_name":"green","eo:center_wavelength":560,"eo:[...]
[...]
