interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.core.eopf.eodc.eu/
  response:
    body:
      string: '{"type":"Catalog","id":"eopf-sample-service-stac-api","title":"EOPF
        Sentinel Zarr Samples Service STAC API","description":"STAC catalog of the
        EOPF Sentinel Zarr Samples Service","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"data","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.core.eopf.eodc.eu/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://stac.core.eopf.eodc.eu/s[...]
[...]
- request:
    body: '{"datetime": "2026-03-18T00:00:00Z/2026-03-25T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "intersects": {"type": "Polygon", "coordinates": [[[10.64,
      53.05], [10.94, 53.05], [10.94, 53.23], [10.64, 53.23], [10.64, 53.05]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.core.eopf.eodc.eu/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/search"}],"features":[{"id":"S2C_MSIL2A_20260321T101721_N0512_R065_T32UPE_20260321T155809","bbox":[10.495379581512257,53.119880621881606,12.209260084873382,54.13583360291546],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/geo+json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-2-l2a/items/S2C_MSIL2A_20260321T101721_N0512_R065_T32UPE_20260321T155809"},{"rel":"cite-as","href":"https://doi.org/10.5270/S2_-znk9xsj"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice","type":"application/pdf","title":"Legal
        notice on the use of Copernicus Sentinel Data and Service Information"}],"assets":{"SR_10m":{"gsd":10,"href":"https://objects.eodc.eu:443/e05ab01a9d56408d82ac32d69a5aae2a:202603-s02msil2a-eu/21/products/cpm_v262/S2C_MSIL2A_20260321T101721_N0512_R065_T32UPE_20260321T155809.zarr/measurements/reflectance/r10m","type":"application/vnd+zarr","bands":[{"name":"B02","description":"Blue
        (band 2)","eo:common_name":"blue","eo:center_wavelength":0.49,"eo:full_width_half_max":0.098},{"name":"B03","description":"Green
        (band 3)","eo:common_name":"green","eo:center_wavelength":0.56,"eo:full_width_half_max":0.045},{"name":"B04","description":"Red
        (band 4)","eo:common_name":"red","eo:center_wavelength":0.665,"eo:full_width_half_max":0.038},{"name":"B08","description":"NIR
        1 (band 8)","eo:common_name":"nir","eo:center_wavelength":0.842,"eo:full_width_half_max":0.145}],"roles":["data","reflectance","dataset"],"title":"Surface
        Reflectance - 10m","xarray:open_dataset_kwargs":{"chunks":{},"engine":"eopf-zarr","op_mode":"native"}},"SR_20m":{"gsd":20,"href":"https://objects.eodc.eu:443/e05ab01a9d56408d82ac32d69a5aae2a:202603-s02msil2a-eu/21/products/cpm_v262/S2C_MSIL2A_20260321T101721_N0512_R065_T32UPE_20260321T155809.zarr/measurements/reflectance/r20m","type":"application/vnd+zarr","bands":[{"name":"B01","description":"Coastal
        aerosol (band 1)","eo:common_name":"coastal","eo:center_wavelength":0.443,"eo:full_width_half_max":0.027},{"name":"B02","description":"Blue
        (band 2)","eo:common_name":"blue","eo:center_wavele[...]
