interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.core.eopf.eodc.eu/
  response:
    body:
      string: '{"type":"Catalog","id":"eopf-sample-service-stac-api","title":"EOPF
        Sentinel Zarr Samples Service STAC API","description":"STAC catalog of the
        EOPF Sentinel Zarr Samples Service","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"data","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.core.eopf.eodc.eu/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://stac.core.eopf.eodc.eu/s[...]
[...]
- request:
    body: '{"datetime": "2016-05-01T00:00:00Z/2017-05-15T23:59:59Z", "collections":
      ["sentinel-2-l2a"], "intersects": {"type": "Polygon", "coordinates": [[[10.641359519532669,
      53.0536720941606], [10.947730608944445, 53.0536720941606], [10.947730608944445,
      53.23787163529459], [10.641359519532669, 53.23787163529459], [10.641359519532669,
      53.0536720941606]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.core.eopf.eodc.eu/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/search"}],"features":[],"numberReturned":0}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
version: 1
