interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.core.eopf.eodc.eu/
  response:
    body:
      string: '{"type":"Catalog","id":"eopf-sample-service-stac-api","title":"EOPF
        Sentinel Zarr Samples Service STAC API","description":"STAC catalog of the
        EOPF Sentinel Zarr Samples Service","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"data","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.core.eopf.eodc.eu/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://stac.core.eopf.eodc.eu/s[...]
[...]
- request:
    body: '{"bbox": [10.641359519532669, 53.0536720941606, 10.947730608944445, 53.23787163529459],
      "datetime": "2025-05-01T00:00:00Z/2025-05-15T23:59:59Z", "collections": ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.core.eopf.eodc.eu/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"next","type":"application/geo+json","method":"POST","href":"https://stac.core.eopf.eodc.eu/search","body":{"bbox":[10.641359519532669,53.0536720941606,10.947730608944445,53.23787163529459],"datetime":"2025-05-01T00:00:00Z/2025-05-15T23:59:59Z","collections":["sentinel-2-l2a"],"token":"next:sentinel-2-l2a:S2B_MSIL2A_20250510T101559_N0511_R065_T32UND_20250510T123915"}},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/search"}],"features":[{"id":"S2C_MSIL2A_20250515T101611_N0511_R065_T32UPE_20250515T154718","bbox":[10.495379581512257,53.119880621881606,12.209260084873382,54.13563629423107],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/geo+json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-2-l2a/items/S2C_MSIL2A_20250515T101611_N0511_R065_T32UPE_20250515T154718"},{"rel":"cite-as","href":"https://doi.org/10.5270/S2_-znk9xsj"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice","type":"application/pdf","title":"Legal
        notice on the use of Copernicus Sentinel Data and Service Information"}],"assets":{"SR_10m":{"gsd":10,"href":"https://objectstore.eodc.eu:2222/e05ab01a9d56408d82ac32d69a5aae2a:202505-s02msil2a/15/products/cpm_v256/S2C_MSIL2A_20250515T101611_N0511_R065_T32UPE_20250515T154718.zarr/measurements/reflectance/r10m","type":"application/vnd+zarr","bands":[{"name":"B02","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"full_width_half_max":0.098},{"name":"B03","common_name":"green","description":"Green
        (band 3)","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B04","common_name":"red","description":"Red
        (band 4)","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B08","common_name":"nir","description":"NIR
        1 (band 8)","center_wavelength":0.842,"full_width_half_max":0.145}],"roles":["data","reflectance","dataset"],"title":"Surface
        Reflectance - 10m","xarray:open_dataset_kwargs":{"chunks":{},"engine":"eopf-zarr","op_mode":"native"}},"SR_20m":{"gsd":20,"href":"https://objectstore.eodc.eu:2222/e05ab01a9d56408d82ac32d69a5aae2a:202505-s02msil2a/15/products/cpm_v256/S2C_MSIL2A_20250515T101611_N0511_R065_T32UPE_20250515T154718.zarr/measurements/reflectance/r20m","type":"application/vnd+zarr","bands":[{"name":"B01","common_name":"coastal","description":"Coastal
        aerosol (band 1)","center_wavelength":0.443,"full_width_half_max":0.027},{"name":"B02","common_name":"blue","description":"Blue
        (band 2)","center_wavelength":0.49,"f[...]
[...]
