interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.core.eopf.eodc.eu/
  response:
    body:
      string: '{"type":"Catalog","id":"eopf-sample-service-stac-api","title":"EOPF
        Sentinel Zarr Samples Service STAC API","description":"STAC catalog of the
        EOPF Sentinel Zarr Samples Service","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/collections/extensions/transaction","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort","https://api.stacspec.org/v1.0.0/ogcapi-features/extensions/transaction"],"links":[{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"data","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.core.eopf.eodc.eu/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://stac.core.eopf.eodc.eu/s[...]
[...]
- request:
    body: '{"datetime": "2025-05-01T00:00:00Z/2025-05-21T23:59:59Z", "collections":
      ["sentinel-3-olci-l1-efr"], "intersects": {"type": "Polygon", "coordinates":
      [[[5.0, 53.0], [10.0, 53.0], [10.0, 57.0], [5.0, 57.0], [5.0, 53.0]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.core.eopf.eodc.eu/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/json","href":"https://stac.core.eopf.eodc.eu/search"}],"features":[{"id":"S3B_OL_1_EFR____20250516T100122_20250516T100422_20250621T093102_0180_106_293_1980_ESA_O_NT_004","bbox":[-4.09796,49.8841,21.4103,62.9114],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-3-olci-l1-efr"},{"rel":"parent","type":"application/json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-3-olci-l1-efr"},{"rel":"root","type":"application/json","href":"https://stac.core.eopf.eodc.eu/"},{"rel":"self","type":"application/geo+json","href":"https://stac.core.eopf.eodc.eu/collections/sentinel-3-olci-l1-efr/items/S3B_OL_1_EFR____20250516T100122_20250516T100422_20250621T093102_0180_106_293_1980_ESA_O_NT_004"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice","type":"application/pdf","title":"Legal
        notice on the use of Copernicus Sentinel Data and Service Information"}],"assets":{"product":{"href":"https://objects.eodc.eu:443/e05ab01a9d56408d82ac32d69a5aae2a:202505-s03olcefr/16/products/cpm_v256/S3B_OL_1_EFR____20250516T100122_20250516T100422_20250621T093102_0180_106_293_1980_ESA_O_NT_004.zarr","type":"application/vnd+zarr","roles":["data","metadata"],"title":"EOPF
        Product","description":"The full Zarr hierarchy of the EOPF product","xarray:open_datatree_kwargs":{"chunks":{},"engine":"eopf-zarr","op_mode":"native"}},"radianceData":{"href":"https://objects.eodc.eu:443/e05ab01a9d56408d82ac32d69a5aae2a:202505-s03olcefr/16/products/cpm_v256/S3B_OL_1_EFR____20250516T100122_20250516T100422_20250621T093102_0180_106_293_1980_ESA_O_NT_004.zarr/measurements","type":"application/vnd+zarr","bands":[{"name":"Oa01","description":"Band
        1 - Aerosol correction, improved water constituent retrieval","center_wavelength":400,"full_width_half_max":15},{"name":"Oa02","description":"Band
        2 - Yellow substance and detrital pigments (turbidity)","center_wavelength":412.5,"full_width_half_max":10},{"name":"Oa03","description":"Band
        3 - Chlorophyll absorption maximum, biogeochemistry, vegetation","center_wavelength":442.5,"full_width_half_max":10},{"name":"Oa04","description":"Band
        4 - Chlorophyll","center_wavelength":490,"full_width_half_max":10},{"name":"Oa05","description":"Band
        5 - Chlorophyll, sediment, turbi[...]
